@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
	font-family: 'Pretendard-Regular';
    box-sizing :border-box;
}

body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    /* min-height: 900px; */
    width: 100%;
    /* min-width: 1682px; */
    /* min-height: -webkit-fill-available; */
    /* max-width: -webkit-fill-available; */
    box-sizing: border-box;
}
.main_contents{
    display: flex;
    height: 92%;
    /* min-width: 1680px; */
    overflow-x: auto;
}


.header_nav:visited,.header_nav:link,.header_nav:active{
    color:#FFFFFF;
    text-decoration:none;
}

.header_nav:hover{
    color:#08FEB9;
    cursor:pointer;
}
header{
    width:100%;
    height:8%;
}

.header_wrap{
    height: 100%;
    width: 100%;
    min-width: 360px;
    background-color: #3462DC;
    display: flex;
    flex-direction: row;
}

.title_wrap{
    padding-left:40px;
    padding-top:0px;
}

.title_wrap img{
    margin-top:8px;
    padding-left:40px;
    padding-top:0px;
}

.title p{
    color: #ffffff;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 15px;
}

.admin_but_wrap{
    margin-top:25px;
    margin-left:50px;
}

.curriculum_but{
    background-color: #ffd447;
    width:100px;
    height:30px;
    font-weight:bold;
    border-radius:4px;
    border:0;
}

.curriculum_but:hover {
    cursor: pointer;
}

/*.nav_wrap{
    height:10%;
    position:absolute;
    right:0;
    margin-right:30px;
    margin-top:6px;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: left;
    color:#ebebeb;
    padding-left:12px;
}

.nav{
    padding-right:0;
    margin-top:15px;
}

.subnav {
	opacity:0;
	visibility:hidden;
}

.subnav > li{
	display: block;
}

.nav > li:hover .subnav {
	opacity:1;
	visibility:visible;
}*/

/* ul li�±׿� ����Ʈ ��Ÿ���� ���� */
	ul li{
		list-style: none;
	}
/* a�±׿� �ؽ�Ʈ ������ ���ְ� ������ #333 */
	a {
		text-decoration: none;
	}
/* ����ũ�⸦ 16px ���� ��� �����ϰ� width���� 700, ���� 50��ŭ ������ #ccc, ���ڻ��� ������, ���γ���50px
menu�ڽ� �������, ���ڰ�� ���� */
	#menu {
        height: 20%;
        position: absolute;
        right: 0;
        margin-right: 30px;
        font-family: bold;
        font-size: 16px;
        text-align: center;
	}

/* menu�±� �ڽ��� ul�� �ڽ� li�� �������İ� ���� 140���� */
	#menu > ul > li {
        margin: 0 0 0 0;
        /* padding: 0px 0px 0 0; */
        padding-top: 3px;
        border: 0;
        float: left;
        color: #ffffff;
        padding-left: 12px;
        position: relative;
        height: 30px;
	}
	#menu > ul > li > ul {
		width:260px;
		display:none;
		position: absolute;
		font-size:14px;
		background: #ffffff;
		color:#292929;
		border-radius:4px;
		text-align: center;
		padding:0;
		left:-90px;
		top:40px;
	}

	#menu > ul > li:hover > ul {
		display:block;
	}
	
	#menu > ul > li > ul > li {
		width:100%;
		text-align:center;
		margin: 0;
		padding: 4px 4px;
		border-radius:4px;
	}
	
	#menu > ul > li > ul > li:hover {
		background-color: orange;
		border-radius:4px;
		color:#ffffff;
		cursor:pointer;
	}

	
/*
    side section
*/
.area_section,
.jobs_section{
    height: 100%;
    /* max-height: 900px; */
    margin: 0px;
    padding-top: 3px;
    width: 210px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.area_section table, 
.jobs_section table{
    text-align:center;
    margin-top:0px;
    border-collapse:collapse;
    margin-top:0px;
    margin-left:6px;
}
.area_section table th,
.jobs_section table th
{
    text-align : center;
    font-size : 13px;
    padding : 6px 10px;
    border-right:none;
    background-color: #252525;
    height:50px;
    color:#f1f1f1;
}

.jobs_title
{
    text-align : center;
    font-size : 13px;
    padding : 6px 10px;
    border-right:none;
    background-color: #252525;
    height:50px;
    color:#f1f1f1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left:6px;
}

.area_title
{
    text-align : center;
    font-size : 13px;
    padding : 6px 10px;
    border-right:none;
    background-color: #252525;
    height:50px;
    color:#f1f1f1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.area_section table th span,
.jobs_section table th span,
.jobs_title span, .area_title span
{
    height : 25px;
    width : 110px;
    border-radius: 4px;
    background: #3462DC;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.jobs_list{
    overflow-y: scroll;
    display:flex;
    justify-content: center;
}

.area_section table td
{
    height:70px;
}

.jobs_section table td
{
    height:30px;
    padding-top:12px;
    font-size:13px;
    font-weight:700;
}

.jobs_section table td:hover
{
    cursor:pointer;
}

.area_table img {
    /* width: 130px; */
    height: 80px;
    margin-top: 30px;
    width: auto;
}

.area_table img:hover{
    cursor:pointer;
}

.gi_jobs{
    color:#4da345;
}

.cd_jobs{
    color:#db8a3f;
}

.de_jobs{
    color:rgb(191, 122, 231);
}

.vc_jobs{
    color:#a1e1f5;
}

.md_jobs{
    color:#ff8888;
}

::-webkit-scrollbar { width: 6px; height:6px;} /* 스크롤 바 */

::-webkit-scrollbar-track { background-color:#252525; } /* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb { background: #afb5bf; border-radius: 10px; } /* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover { background: #afb5bf; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active { background: #afb5bf; } /* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */
